.markdown-body > h2
{
  border-bottom: none;
}

.code-name
{
  font-family: "Monoton", sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: #47B584;
}

.code-desc
{
  font-family: "Josefin Sans", sans-serif;
  color: #999;
}

.code-name,
.code-desc
{
  text-align: center;
}

hr
{
  height: 1px !important;
}

/* 基础规范 */

.device-ios {
  width: 467px;
  height: 800px;
  background: url(devices-sprite.jpg) center top no-repeat;
  background-size: 467px;
  margin: 0 auto;
  text-align: center;
}

.demo-ios {
  margin-top: 85px;
  width: 320px;
  height: 568px;
}

body.mobile .device-ios {
  display: none;
  visibility: hidden;
}
